
/* Colour naming convention:
 * cName =  Colour.
 * ctName = Text colour.
 * cbName = Background colour.
 */

// Abstract colours
cPrimaryBodyBackground  = #FFFFFF
cPrimaryForeground      = #EC882E

html
    width vMinimumLightness
