@require ("common")

#console
    position fixed
    bottom 0px
    left 0px
    width 100%
    height vConsoleHeight
    border-style solid
    border-width vConsoleBorderWidth 0px 0px 0px

#console-content
    display inline-block
    width 99.5%

#console-output
    height 85%
    width 100%
    margin 0px 0.5% 0.5% 0.5%

#ControlButtons
    position fixed
    right 20px
    bottom 4%

#mainView
    height 70%
    position fixed
    top 0px
    left 0px
    width 100%

#console-bottom
    position absolute
    left 0px
    bottom 0px
    margin-top 10px

#console-bottom, #console-input
    width 100%