@require ("common")

#console-input
    width 100%

#console-output
    margin 0.5%

#ControlButtons
    position fixed
    bottom 20px
    right 20px

#mainView
    border-left vConsoleBorderWidth solid
    border-right 0px
    border-top 0px
    border-bottom 0px
    border-style solid